$wwu-blue: #003f87;
$wwu-off-blue: #004f86;
$wwu-light-blue: #007AC8;
$wwu-red: #cc2d30;
$wwu-yellow: #ffc61e;
$wwu-lime: #bad80a;
$wwu-green: #006b3f;

$wwu-gray-blue: #4b689c;
$wwu-ocean-blue: #0070b6;
