.field-cta-button {

  &:nth-child(4n + 1) a::after {
    color: $wwu-admissions-green;
  }

  &:nth-child(4n + 2) a::after {
    color: $wwu-light-blue;
  }

  &:nth-child(4n + 3) a::after {
    color: $wwu-lime;
  }

  &:nth-child(4n + 4) a::after {
    color: $wwu-red;
  }
}
