.field-cta-button-link {
  @include text-vertical-center-base;
  position: relative;
  text-align: center;

  a {
    @include text-vertical-center;
    border-radius: 2em;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1.1);
    font-weight: 600;
    line-height: 1.5;
    padding: .5em 1em;
    text-decoration: none;
    transition: 300ms;
    word-wrap: normal;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }
}

.paragraphs-item-color-scheme-dark-blue .field-cta-button-link,
.paragraphs-item-color-scheme-dark .field-cta-button-link {

  a {
    border-color: $white;
    color: $wwu-lime;
  }

  a:hover,
  a:active,
  a:focus {
    background-color: $white;
    border-color: $white;
    color: $wwu-blue;
  }
}

.paragraphs-item-color-scheme-light .field-cta-button-link {

  a {
    border-color: $wwu-blue;
    color: $wwu-blue;
  }

  a:hover,
  a:active,
  a:focus {
    background-color: $wwu-light-blue;
    border-color: $wwu-light-blue;
    color: $white;
  }
}

.paragraphs-item-color-scheme-dark-green .field-cta-button-link {

  a {
    border-color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $white;
      border-color: $white;
      color: $wwu-green;
    }
  }

}
