@mixin image-floatable(
  $should-reflect-image: false,
  $flex-container: '.center-content',
  $image-container: '.field-cta-image') {
  
  @include breakpoint($display-medium) {

    &.paragraphs-item-float-right {

      #{$flex-container} {
        @include flex-direction(row-reverse);

        .field-long-text {
          margin-left: 0;
          margin-right: 2em;
        }
      }

      #{$image-container} {
        transform-style: preserve-3d;	
        @if($should-reflect-image) {
          transform: scaleX(-1);
        }

        img {
          transform: translateZ(-1px);
        }
      }
    }
  }

  #{$flex-container} {
    @include display-flex;
    @include flex-direction(column);

    #{$image-container} {
      margin-right: 0;
    }


    .field-long-text {
      margin-left: 2em;
      margin-right: 0;
    }

    @include breakpoint($display-medium) {
      @include flex-direction(row);      
    }
  }
}
