.western-header {
  .site-name {
    > a {
      text-decoration: none;
    }
  }
}

.site-header {
  @include breakpoint($display-large) {
    float: none;
  }

  .site-name {
    clear: left;
    display: block;

    @include breakpoint($display-medium) {
      display: none;
    }

    @include breakpoint($display-large) {
      display: none;
    }
  }
}

.site-banner {
  @include breakpoint($display-large) {
    height: 0;
    padding-bottom: 32%;
    position: relative;
    z-index: -2;
  }

  img {
    left: 0;
    position: absolute;
    top: 0;
  }
}

header {
  @include breakpoint($display-medium) {
    position: relative;
  }
}

header[role="banner"] {
  @include breakpoint($display-large) {
    padding: 0;
  }

  > div {
    @include breakpoint($display-large) {
      background-color: transparent;
      background-image: none;
      border: 0;
      box-sizing: initial;
      margin: 0;
      max-height: 100%;
    }
  }
}
