body {
  @include breakpoint($display-large) {
    border-top: 0;
  }
}

.page {
  @include breakpoint($display-large) {
    border-top: 0;
    max-width: initial;
    position: relative;
  }
  main {
    .page-title {
      @include breakpoint($display-large) {
        border-bottom: none;
        margin-top: 3%;
        margin-bottom: 1%;
      }
    }
  }
}

.bluebar {
  @include breakpoint($display-large) {
    border-top: 6px solid $wwu-light-blue;
    height: 9px;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
  }
}
