.paragraphs-item-accordion {

  .center-content {
    border: 2px solid $wwu-blue;
    border-top-right-radius: 1.5em;
    overflow: visible;
    position: relative;
    margin-left: 3em;
    margin-right: 0;
    width: auto;

    > span {
      position: absolute;
      border-top-left-radius: $expand-icon-wrapper-dimen / 2;
      border-bottom-left-radius: $expand-icon-wrapper-dimen / 2;
      right: 100%;
      background-color: $wwu-blue;
      border: inherit;
      top: -2px;
      color: white;
      height: $expand-icon-wrapper-dimen;
      width: $expand-icon-wrapper-dimen - 2px;
      cursor: pointer;

      &::before {
        content: "";
        background: url("../images/plus.svg") no-repeat;
        position: absolute;
        width: $expand-icon-dimen;
        height: $expand-icon-dimen;
        top: ($expand-icon-wrapper-dimen - $expand-icon-dimen) / 2;
        left: ($expand-icon-wrapper-dimen - $expand-icon-dimen) / 2 + .25;
        @include rotate(0deg, .4s);
      }

      &.collapse::before {
        @include rotate(45deg, .4s);
      }
    }

    @include breakpoint($max-content-width) {
      width: $max-content-width - $expand-icon-wrapper-dimen;
      position: relative;
      left: $expand-icon-wrapper-dimen / 2;
      margin: 0 auto;
    }

    .field-accordion-title {
      color: $wwu-blue;
      cursor: pointer;
      font-size: 1.25em;
      font-weight: 600;
      line-height: 1em;
      position: relative;
      padding: .75em .6em .1em;

      @include breakpoint($display-medium) {
        font-size: 1.5em;
        padding: .45em .6em 0;
      }
    }

    .field-accordion-description {
      padding: 0 1em 1em .5em;
      display: none;

      @include breakpoint($display-large) {
        padding: 0 1em;
      }
    }

  } // center-content

  &.paragraphs-item-color-scheme-dark-blue,
  &.paragraphs-item-color-scheme-dark {

    .center-content {
      border: 2px solid #FFF;

      > span {
        background-color: #FFF;

        &::before {
          background: url("../images/plus-dark.svg") no-repeat;
        }

      }

      .field-accordion-title {
        color: #FFF;
      }
    }
  }


} // paragraphs-item-accordion
