.paragraphs-item-accolade-with-image {
  $teardrop-image-offset: .55;

  @include image-floatable($should-reflect-image: true);

  &.paragraphs-item-text-top {
    > .center-content {
      @include align-items(flex-start)
    }
  }

  &.paragraphs-item-text-middle {
    .center-content {
      @include align-items(center);
    }
  }

  &.paragraphs-item-text-bottom {
    .center-content {
      @include align-items(flex-end);
    }
  }

  > .center-content {
    @include teardrop-image-base;
    @include flex-container;
    @include clearfix;
    @include breakpoint($display-medium) {
      @include flex-wrap(nowrap);
      }

    > .field-long-text {
        margin-left:0;

      @include breakpoint($display-medium) {
        margin-left: $paragraphs-item-vertical-padding;
      }
    }

    > .field-cta-image {
      @include width-integer-percentage(1, 2);
      @include teardrop-image-wrapper($teardrop-image-offset);
      margin:0 auto;
      margin-bottom: 1.5em;

      @include breakpoint($display-medium) {
        @include flex-shrink(0);
        @include width-integer-percentage(1, 3);
        @include teardrop-image-wrapper($teardrop-image-offset);
        margin-bottom: 2em;
        margin-bottom: $teardrop-image-offset * 1em;
      }
    }

    &::after,
    &::before {
      content: initial;
    }
  }

  img {
    @include teardrop-image($teardrop-image-offset);
  }

  &.paragraphs-item-color-scheme-dark,
  &.paragraphs-item-color-scheme-dark-blue {
    .field-cta-image {
      border-color: $wwu-light-blue;
    }
  }

  &.paragraphs-item-color-scheme-light {
    .field-cta-image {
      border-color: $wwu-blue;
    }
  }

  &.paragraphs-item-color-scheme-dark-green {
    .field-cta-image {
      border-color: $wwu-lime;
    }
  }
}
