.paragraphs-item-color-scheme-dark-blue,
.paragraphs-item-color-scheme-dark {
  background-color: $wwu-blue;
  color: $white;

  a {
    color: $wwu-admissions-dark-link-blue;
    font-weight: 600;
  }

  h1,
  h2 {
    color: $white;
  }

  h3,
  h4,
  h5,
  h6 {
    color: $wwu-lime;
  }
}
