.paragraphs-item-color-scheme-dark-green {
  background-color: $background-color-gray;
  color: $black;

  a {
    color: #007AC8;
    font-weight: 600;
  }

  p {
    color: $black;
  }

  h1,
  h2 {
    color: $wwu-green;
  }

  h3,
  h4,
  h5,
  h6 {
    color: $wwu-green;
  }
  }
