.entity-paragraphs-item.paragraphs-item-cta-buttons {
  padding-bottom: 2em;
}

.paragraphs-item-cta-buttons {

  > .center-content {
    @include flex-container;
    @include align-items(stretch);
    &::before,
    &::after {
      content: initial;
    }
  }

  .field-cta-button {
    box-sizing: border-box;
    margin: .5em auto;
    width: 100%;

    @include breakpoint($display-medium) {
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }
  }

  &.paragraphs-item-flow-1-column {
    a {
      min-width: 400px;
    }
    
    > .center-content {
      @include justify-content(center);
    }
  }

  &.paragraphs-item-flow-2-column {

    .field-cta-button {
      @include breakpoint($display-medium) {
        @include width-integer-percentage(1, 2);
      }
    }

  }

  &.paragraphs-item-flow-3-column {

    .field-cta-button {
      @include breakpoint($display-large) {
        @include width-integer-percentage(1, 3);
      }
    }

  }

  &.paragraphs-item-flow-4-column {

    .field-cta-button {
      @include breakpoint($display-large) {
        @include width-integer-percentage(1, 4);
      }
    }
  }
}
