.paragraphs-item-cta-block {
  @include image-floatable;

  &.paragraphs-item-text-top {
    > .center-content {
      @include align-items(flex-start)
    }
  }

  &.paragraphs-item-text-middle {
    .center-content {
      @include align-items(center);
    }
  }

  &.paragraphs-item-text-bottom {
    .center-content {
      @include align-items(flex-end);
    }
  }

  .field-cta-image {
    @include flex-shrink(0);
    margin-bottom: 1em;
    @include breakpoint($display-medium) {
      margin-right: 1em;
      margin-bottom: 0;
    }
  }

  .group-cta-block-link-info {
    flex: 2;
    margin-left: 0;
    margin-right: 0;
    @include breakpoint($display-medium) {
      margin-left: 2em;
    }

    .field-long-text {
      margin-left: 0;

      > h2 {
        font-size: calc(#{$min-h2-font-size} + #{strip-unit($max-h2-font-size - $min-h2-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        font-weight: 600;
      }

      > h3 {
        font-size: calc(#{$min-h3-font-size} + #{strip-unit($max-h3-font-size - $min-h3-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        font-weight: 600;
        text-align: center;
        @include breakpoint($display-medium) {
          text-align: left;
        }
      }

      > .award {
        font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})) * 1.2);
        font-weight: 700;
      }
    }
  }

  &.paragraphs-item-float-right {
    .group-cta-block-link-info {
      margin-right: 0;
      margin-left: 0;
      @include breakpoint($display-medium) {
        margin-right: 2em;
      }

      .field-long-text {
        margin-right: 0;
      }
    }
  }

  .field-cta-link {
    a {
      font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})) * 1.2);
      font-weight: 600;
      transition-duration: 300ms;
      transition-property: color;
      text-decoration: none;
    }

    a:active,
    a:focus,
    a:hover {
      text-decoration: none;
    }

    a::before {
      content: '›› ';
      font-weight: 700;
      position: relative;
      top: -.05em;
      text-decoration: none;
    }
  }

  &.paragraphs-item-color-scheme-dark,
  &.paragraphs-item-color-scheme-dark-blue {
    .field-long-text {
      color: $white;
    }

    a {
      color: $wwu-lime;
      font-weight: 600;

      &:active,
      &:focus,
      &:hover {
        color: $wwu-yellow;
      }
    }

    > h2 {
      font-size: calc(#{$min-h3-font-size} + #{strip-unit($max-h3-font-size - $min-h3-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      font-weight: 600;
    }
  }

  &.paragraphs-item-color-scheme-dark-green {
    .field-long-text {
      color: $black;
    }

    a {
      color: #007AC8;
      font-weight: 600;

      &:active,
      &:focus,
      &:hover {
        color: #197952;
      }
    }
  }

  &.paragraphs-item-color-scheme-light {
    .field-long-text {
      color: $black;
    }

    a {
      color: #007AC8;
      font-weight: 600;

      &:active,
      &:focus,
      &:hover {
        color: $wwu-blue;
      }
    }
  }
}
