.paragraphs-item-cta-image-button {
  $image-width: 256px;
  $max-width: 168px;
  $teardrop-image-offset: .55;

  @include teardrop-image-base;
  margin: 0 auto;
  margin-bottom: $teardrop-image-offset * 2.5em;
  max-width: $max-width;
  padding: 0 1em;

  .file-image {
    @include teardrop-image-wrapper($teardrop-image-offset);
    margin-bottom: $teardrop-image-offset * 3em;
    position: relative;
    transition: 300ms;
  }

  .file-image::after {
    bottom: 0;
    content: '››';
    display: block;
    font-size: 450%;
    line-height: 1;
    margin-bottom: .05ex;
    margin-right: .2ex;
    position: absolute;
    right: 0;
    transition: 300ms;
  }

  img {
    @include teardrop-image($teardrop-image-offset);
  }

  .cta-image-button-link-title {
    display: table;
    font-size: calc(#{$min-cta-image-font-size} + #{strip-unit($max-cta-image-font-size - $min-cta-image-font-size)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    font-weight: 600;
    line-height: 1.5;
    margin-left: 50%;
    min-width: 100%;
    text-transform: uppercase;
    transform: translateX(-50%);
  }

  a {
    display: block;
    height: 100%;
    word-wrap: normal;
    transition: 300ms;
    text-decoration: none;
  }

  a:hover,
  a:active,
  a:focus {
  }
}

.paragraphs-item-color-scheme-dark-blue,
.paragraphs-item-color-scheme-dark {

  .paragraphs-item-cta-image-button {

    .file-image {
      border-color: $white;
    }

    a {
      color: $wwu-admissions-pale-blue;
    }

    a:hover,
    a:active,
    a:focus {
      color: $wwu-lime;

      .file-image {
        border-color: $wwu-light-blue;
      }
    }
  }
}

.paragraphs-item-color-scheme-dark-green {

  .paragraphs-item-cta-image-button {

    .file-image {
      border-color: $wwu-lime;
    }

    a {
      color: #007AC8;
    }

    a:hover,
    a:active,
    a:focus {
      color: $wwu-green;

      .file-image {
        border-color: $wwu-green;
      }
    }
  }
}


.paragraphs-item-color-scheme-light {

  .paragraphs-item-cta-image-button {

    .file-image {
      border-color: $wwu-blue;
    }

    .file-image::after {
      color: $white;
    }

    a {
      color: $wwu-blue;
    }

    a:hover,
    a:active,
    a:focus {
      color: $wwu-light-blue;

      .file-image {
        border-color: $wwu-light-blue;
      }

      .file-image::after {
        color: $wwu-blue;
      }
    }
  }
}
