.paragraphs-item-cta-image-buttons {

  > .center-content {
    @include flex-container;
    transition: width 1s;

    @include breakpoint($cta-image-buttons-medium) {
      @include width-integer-percentage(2, 3);
      margin: 0 auto;
    }

    @include breakpoint($display-large) {
      @include width-integer-percentage(1, 1);
      margin: 0 auto;
    }

    &::before,
    &::after {
      content: initial;
    }
  }

  .field-cta-image-button {
    @include flex-shrink(0);
    @include width-integer-percentage(1, 2);
  }

  &.paragraphs-item-flow-2-column {

    > .center-content {
      @include breakpoint($display-large) {
        @include width-integer-percentage(2, 3);
        margin: 0 auto;
      }

      @include breakpoint($max-content-width) {
        @include width-integer-percentage(1, 2);
      }
    }

    .field-cta-image-button {
      @include breakpoint($display-large) {
        @include width-integer-percentage(1, 2);
      }
    }
  }

  &.paragraphs-item-flow-3-column {

    > .center-content {
      @include width-integer-percentage(1, 2);
      margin: 0 auto;

      @include breakpoint($display-large) {
        @include width-integer-percentage(1, 1);
      }
    }

    .field-cta-image-button {
      @include width-integer-percentage(1, 1);

      @include breakpoint($display-large) {
        @include width-integer-percentage(1, 3);
      }
    }
  }

  &.paragraphs-item-flow-4-column {

    .field-cta-image-button {
      @include breakpoint($display-large) {
        @include width-integer-percentage(1, 4);
      }
    }
  }
}
