.paragraphs-item-heading.field-heading {
  font-size: calc(#{$min-h1-font-size} + #{strip-unit($max-h1-font-size - $min-h1-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
  font-weight:600;
  letter-spacing: .05rem;
  line-height: 1;
  margin: 0;
  padding: 0 .6em;


  @include breakpoint($max-content-padding-width) {
    padding-bottom: .2em;
  }

  &:first-child {
    padding-top: 2vw;
  }

  > .center-content {
    overflow: visible;
  }

  &.paragraphs-item-color-scheme-dark-blue,
  &.paragraphs-item-color-scheme-dark {
    color: $wwu-lime;
  }

  &.paragraphs-item-color-scheme-dark-green {
    color: $wwu-blue;
  }

  &.paragraphs-item-color-scheme-light {
    color: $wwu-ocean-blue;
  }
}

@include adjacent-color-schemes {
  &.paragraphs-item-heading {
    padding-top: .6em;
  }
}

.paragraphs-item-parallax + .paragraphs-item-heading {
  padding-top: .6em;
}
