.paragraphs-item-icon-link {
  margin: 0 2em;
  margin-bottom: 2em;
  text-align: center;

  @include breakpoint($display-large) {
    margin-bottom: 0;
  }

  a {
    color: $white;
    display: block;
    font-size: 115%;

    @include breakpoint($max-content-width) {
      font-size: 135%;
    }
  }

  a:hover,
  a:active,
  a:focus {
    color: $wwu-lime;
    text-decoration: none;

    img {
      border-color: $wwu-lime;
    }
  }

  img {
    border-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 72px;
    margin-bottom: .5em;
    max-height: 128px;
    max-width: 128px;
    transition: height 1s, width 1s;
    width: 72px;

    @include breakpoint($display-medium) {
      height: 98px;
      width: 98px;
    }

    @include breakpoint($max-content-width) {
      height: 128px;
      width: 128px;
    }
  }
}
