.paragraphs-item-image-grid {

  &.entity-paragraphs-item {
    padding: 0;
  }

  @include flexbox((
    display: flex,
    flex-direction: column
  ));

  @include breakpoint($display-large) {
    @include flex-direction(row);
  }

  img {
    width: 100%;
  }
  
  .field-group-div {
    @include flexbox((
      display: flex,
      flex-direction: row
    ));

    @include breakpoint($display-large) {
      @include flex-direction(column);
    }

    > div:not(.big-image) {
      margin-bottom: -6.5px;
    }
  }
  
  .image-group-1, .image-group-2 {
    @include flex(1);
  }

  .big-image {
    @include flex(2);
  }
  
  &.paragraphs-item-large-image-right {
    .image-group-1 {
      order: 1;
    }
    .image-group-2 {
      order: 2;
    }
    .big-image {
      order: 3;
    }
  }
  
  &.paragraphs-item-large-image-center {
    .image-group-1 {
      order: 1;
    }
    .image-group-2 {
      order: 3;
    }
    .big-image {
      order: 2;
    }
  }
}
