.paragraphs-item-instagram-block {

  .wwu-admissions-instagram-block {
    box-sizing: border-box;

    @include breakpoint($display-medium) {
      padding-left: 15%;
      padding-right: 15%;
    }

    @include breakpoint($display-large) {
      @include flex-container;
      align-items: center;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 0 -.5em;
      padding: 0 3em;
    }
  }

  .wwu-admissions-instagram-account {
    padding: 3em;
    text-align: center;

    @include breakpoint($display-large) {
      width: 1 / 3 * 100%;
    }
  }

  .field-instagram-account-name {
    background-position: left 50% bottom 0;
    background-repeat: no-repeat;
    background-size: 50%;
    font-size: 150%;
    line-height: 1.5;
    padding-bottom: 55%;
  }

  .wwu-admissions-instagram-images {
    @include flex-container;

    @include breakpoint($display-large) {
      width: 2 / 3 * 100%;
    }
  }

  .wwu-admissions-instagram-image {
    @include width-integer-percentage(1, 2);
    box-sizing: border-box;
    padding: .5em;

    @include breakpoint($display-large) {
      @include width-integer-percentage(1, 3);
      padding: .5em;
    }

    a {
      border: 3px solid transparent;
      display: block;
      line-height: 0;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  &.paragraphs-item-color-scheme-dark-blue,
  &.paragraphs-item-color-scheme-dark {
    background-color: $wwu-blue;

    .field-instagram-account-name {
      background-image: url('../images/instagram-dark.svg');
    }

    a:hover,
    a:active,
    a:focus {
      border-color: $wwu-lime;
    }

  }

  &.paragraphs-item-color-scheme-dark-green {
    background-color: $wwu-green;

    .field-instagram-account-name {
      background-image: url('../images/instagram-dark.svg');
    }

    a:hover,
    a:active,
    a:focus {
      border-color: $bright-green;
    }
  }

  &.paragraphs-item-color-scheme-light {
    background-color: $white;

    .field-instagram-account-name {
      background-image: url('../images/instagram-light.svg');
    }

    a:hover,
    a:active,
    a:focus {
      border-color: $wwu-light-blue;
    }
  }
}
