.paragraphs-item-long-text {

  font-family: $muli;

  *:last-child {
    margin-bottom: 0;
  }

  .field-long-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
    }

    a {
      font-weight: 600;
    }
  }

  &.paragraphs-item-text-2-column {

    .field-long-text {
      column-count: 2;
      column-gap: 3em;
      min-height: 3em;
    }
  }

  &.paragraphs-item-text-3-column {

    .field-long-text {
      column-count: 3;
      column-gap: 3em;
      min-height: 3em;
    }
  }
}

.field-long-text {
  > h2 {
    font-size: calc(#{$min-h2-font-size} + #{strip-unit($max-h2-font-size - $min-h2-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;
  }

  > h3 {
    font-size: calc(#{$min-h3-font-size} + #{strip-unit($max-h3-font-size - $min-h3-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    font-weight: 600;
    line-height: 1.2em;
    text-align: left;
  }

  > h4 {
    font-size: calc(#{$min-h4-font-size} + #{strip-unit($max-h4-font-size - $min-h4-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    font-weight: 600;
    text-align: left;
  }

  > p {
    font-size: calc(#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    line-height: 1.4em;
    text-align: left;
  }

  > .intro {
    font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1.2);
    line-height: 1.4em;
    padding-bottom: 0;
    text-align: left;
  }
}
