.paragraphs-item-parallax {

  > .center-content {
    min-height: 200px;
    min-height: 50vw;

    @include breakpoint($display-large) {
      @include align-items(center);
      @include display-flex(flex);
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(center);
      min-height: 500px;
    }

    &:first-child {
      padding-top: 2em;
    }
  }

  > .center-content::before,
  > .center-content::after {
    content: initial;
  }
}

.pane-node-field-paragraphs > .paragraphs-item-parallax {
  padding-bottom: 0;
}
