.paragraphs-item-quote-with-image {
  $image-max-width: 384px;
  $teardrop-image-offset: .55;

  @include image-floatable($should-reflect-image: true);

  &.paragraphs-item-text-top {
    > .center-content {
      @include align-items(flex-start)
    }
  }
  
  &.paragraphs-item-text-middle {
    .center-content {
      @include align-items(center);
    }
  }
  
  &.paragraphs-item-text-bottom {
    .center-content {
      @include align-items(flex-end);
    }
  }
	
  > .center-content {
    @include teardrop-image-base;
    @include justify-content(center);

    @include breakpoint($display-medium) {
      @include flex-wrap(nowrap);
      @include justify-content(space-between);
    }

    .field-long-text {
      margin: 0 0 1em;
    }

    &::before,
    &::after {
      content: initial;
    }
  }

  .field-cta-image {
    @include teardrop-image-wrapper($teardrop-image-offset);
    @include flex-shrink(0);
    @include width-integer-percentage(1, 2);
    margin-bottom: 2em;
    max-width: $image-max-width;

    @include breakpoint($display-medium) {
      @include width-integer-percentage(1, 3);
    }

    @include breakpoint($display-large) {
      margin-bottom: $teardrop-image-offset * 1em;
    }
  }

  img {
    @include teardrop-image($teardrop-image-offset);
  }

  .group-quote {
    @include breakpoint($display-medium) {
      @include width-integer-percentage(2, 3);
    }
    font-family: $garamond;
  }

  .field-long-text {
    font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1.25);
    padding-left: 0;
    font-style: italic;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 1em;

    @include breakpoint($display-medium) {
      padding-left: 1.5em;
    }

    @include breakpoint($display-large) {
      padding-left: 2em;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &.paragraphs-item-float-right {
    .field-long-text {
      font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1.25);
      font-style: italic;
      font-weight: 600;
      line-height: 1.4em;
      padding-left: 0;
      @include breakpoint($display-medium) {
        padding-right: 1.5em;
      }

      @include breakpoint($display-large) {
        padding-right: 2em;
      }
    }
  }

  .field-attribution {
    font-family: $muli;
    font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
    line-height: 1.5em;
    text-align: right;
  }

  .field-paragraphs-name {
    font-family: $muli;
    font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1.1);
    font-weight: 600;
    line-height: 1.5em;
    text-align: right;
  }

  &.paragraphs-item-float-right {
    .field-attribution, .field-paragraphs-name {
      text-align: right;
      line-height: 1.4em;


      @include breakpoint($display-medium){
        text-align: left;
      }
    }
  }

  &.paragraphs-item-color-scheme-dark-blue,
  &.paragraphs-item-color-scheme-dark {
    color: $white;

    .field-cta-image {
      border-color: $wwu-light-blue;
    }
  }

  &.paragraphs-item-color-scheme-dark-green {
    color: $wwu-green;

    .field-cta-image {
      border-color: $wwu-lime;
    }
  }

  &.paragraphs-item-color-scheme-light,
  &.paragraphs-item-color-scheme-dark-green {
    color: $wwu-admissions-green;

    .field-cta-image {
      border-color: $wwu-light-blue;
    }
  }
}
