.paragraphs-item-stat {

  @include image-floatable;
  background-color: transparentize($wwu-light-blue, .8);

  &.paragraphs-item-text-top {
    > .center-content {
      @include align-items(flex-start)
    }
  }

  &.paragraphs-item-text-middle {
    .center-content {
      @include align-items(center);
    }
  }

  &.paragraphs-item-text-bottom {
    .center-content {
      @include align-items(flex-end);
    }
  }

  > .center-content {
      @include teardrop-image-base;
     @include flex-container;
      @include clearfix;

      > .file-image-png {
        display:none;
      }

      @include breakpoint($display-medium) {
        @include flex-wrap(nowrap);

        > .file-image-png {
          display:flex;
          flex: 1;
        }

        > .field-text {
          flex: 3;
        }
      }

      &::before,
      &::after {
        content: initial;
      }
    }

  img {
    width:100%;
  }

  .field-text {
    @include breakpoint($display-large){
      line-height: 2em;
      padding-left: $paragraphs-item-horizontal-padding;
      padding-right: 0;
      margin-bottom: 0;
    }

    > p {
      font-size: calc((#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})) * 1);
      font-weight: 400;
      line-height: 1.4em;
      margin-bottom: 0;
      color: $wwu-blue;
    }
  }

  &.paragraphs-item-float-right {
    .field-text {
      @include breakpoint($display-large){
        padding-left: 0;
        padding-right: $paragraphs-item-horizontal-padding;
    }
  }
}
}
