@charset 'utf-8';

@import 'partials/base';



.container-3x2-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.left-3x2-grid, .center-3x2-grid, .right-3x2-grid {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 100%;
  padding: 0;
  margin: 15px;
  background: $wwu-blue;

  @include breakpoint($display-medium) {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 30%;
    padding: 0;
    margin: 15px;
  }

  @include breakpoint($display-large) {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 28%;
    padding: 0;
    margin: 15px;
  }
}

.layout-3x2-grid-title {
  @include breakpoint($display-large) {
    padding-top: 3vw;
  }
}
