.content blockquote, blockquote {
  color: $wwu-blue;
  background-color: transparentize($wwu-light-blue, .8);
  font-size: calc(#{$min-p-font-size} + #{strip-unit($max-p-font-size - $min-p-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
  font-weight: 600;
  font-style: italic;
  line-height: 1.5em;

}

.content blockquote {
  max-width: 100%;
  margin: .5em 0 1.5em 0;
}

.paragraphs-item-color-scheme-dark-blue,
.paragraphs-item-color-scheme-dark {
  blockquote {
    color: #D6E86C;
    background-color: transparentize($black, .8);
    font-weight: 600;
  }
}

.paragraphs-item-color-scheme-dark-green {
  blockquote {
    color: $wwu-green;
    background-color: transparentize($wwu-lime, .8);
    font-weight: 600;
  }
}
