.pane-node-field-paragraphs, article {

  > .entity-paragraphs-item {
    padding: 1.5em 1em;

    @include breakpoint($display-medium) {
      padding: $paragraphs-item-vertical-padding $paragraphs-item-horizontal-padding;
    }
  }

  .paragraphs-item-color-scheme-dark-green,
  .paragraphs-item-color-scheme-dark-blue,
  .paragraphs-item-color-scheme-dark {

    &:first-child {
      padding: 1.5em 1em;

      @include breakpoint($display-medium) {
        padding: $paragraphs-item-horizontal-padding;
      }
    }
  }

  @include adjacent-color-schemes {
    &.entity-paragraphs-item {
      padding: 1.5em 1em;

      @include breakpoint($display-medium) {
        padding: $paragraphs-item-horizontal-padding;
      }
    }
  }

  .paragraphs-item-parallax + .entity-paragraphs-item {
    padding-top: $paragraphs-item-vertical-padding;
  }
}
