.node-accommodations {
  .field-label {
    margin:0;
    padding-top:20px;
  }
}

.accomodations-group-by-headings caption {
  color: $wwu-light-blue;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .75em;
}

.view-accomodations table td {
  width: 33.3333%;
}
