.apply-online-related-links {
  background-color: transparent;
  float: right;
  margin: -2em 1em 1em;
  padding: 1em 1.5em 1em 0;

  ul li {
    list-style: disc;

    a {
      margin-right: 1em;
    }
  }
}
