.panel-pane {
  > h3 {
    font-weight: 700;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
  }
}

.apply-now-extended-ed,
.apply-now-freshman,
.apply-now-international,
.apply-now-post-bacc,
.apply-now-returning,
.apply-now-transfer {
  p {
    font-size: 120%;
    font-weight: 600;
    margin: 0;
    text-align: center;

    >a {
      background-color: $wwu-admissions-green;
      border-radius: 200px;
      border: 3px $wwu-admissions-green solid;
      color: $white;
      display: block;
      padding: .75em;
      text-align: center;
      text-decoration: none;
      transition: all 300ms ease;
      }

    a:hover, a:focus {
      background-color: $wwu-blue;
      border: 3px $wwu-blue solid;
      color: $white;
      text-decoration: none;
    }
  }
}

.layout-3x2-grid {
  >.apply-now-extended-ed,
  .apply-now-freshman,
  .apply-now-international,
  .apply-now-post-bacc,
  .apply-now-returning,
  .apply-now-transfer {
    background-color: $background-color-gray;
    padding: 20px 20px 10px;
  }
}

.apply-now-main-link {
  font-size: 140%;
  letter-spacing: 0.05em;
  margin: 0 auto 3em;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($display-medium) {
    width: 60%;
  }
}

.apply-now-deadlines {
  background-color: $wwu-blue;
  align-items: stretch;

  > .pane-title {
    color: $white;
    border-bottom: 2px $white solid;
    font-size: 125%;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5em;
    margin: 0 20px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
  }

  .field-body {
    display: flex;
    flex-direction: column;
    text-align:left;

    .deadlines {
      color: $white;
      padding: 0px 20px 20px;

    >.row {
      border-bottom: 1px $white solid;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      >.col1 {
        flex-basis: 55%;
        line-height: 1.2em;
      }

      >.col2 {
        line-height: 1.2em;
      }
    }

    h5 {
      color: $white;
      font-weight: 600;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    >.acc-head {
      background-color: $background-color-gray;
      color: $black;
      font-weight: 600;
      margin: 0 0 5px;

        :hover,
        :focus,
        :focus-within,
        :active {
          background-color: $wwu-admissions-green;
          color: #ffffff;
          margin:0;
          transition: all 300ms ease;
        }
      }

      > #acc-head-0 {
        margin: 10px 0;
      }

      .ready-accordion {
        background-color: transparent;
        margin-bottom: 10px;
        padding: 10px 0;

      }

      >.ready-accordion-header {
        margin:0;
        padding: 10px 0;
      }

      >.ready-accordion-header.expanded {
        background-color: $wwu-admissions-green;
        color: #ffffff;
        font-weight: 600;
        margin:0;
      }
    }

  .node-title {
    font-size: 120%;
    line-height: 1;
    margin-bottom: 1em;

    a {
      color: $wwu-blue;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
    }
  }

  article p {
    line-height: 1;
    margin: 0;
  }

  .footnote-dark {
    color: $white;
    font-size: 12px;
    margin:10px 0 0;

    >a {
      color: #52BCFF;
    }
  }
}
}

.apply-now-learn {
  padding: 10px 20px 30px;
  background-color: $background-color-gray;

  p {
    font-size: 110%;
    font-weight: 600;
    text-align: center;
    margin:0;
    padding:0;

    >a {
      background-color: transparent;
      border-radius: 200px;
      border: 3px $wwu-green solid;
      color: $wwu-green;
      display: block;
      padding: .75em;
      text-align: center;
      text-decoration: none;
      transition: all 300ms ease;
      }

    a:hover, a:focus {
      background-color: $white;
      border: 3px $wwu-light-blue solid;
      color: $wwu-light-blue;
      text-decoration: none;
    }
  }
}
