.call-to-action {
  background-color: $wwu-lime;
}

.call-to-action-text {
  background-color: $wwu-lime;
  height: 2em;
  margin: 0 auto;
  padding: 1em 0;
  width: 20em;

  h1 {
    font-size: 1.4em;
    margin: 0;
  }

  span {
    color: #fff;
  }

  a {
    color: $wwu-blue;
    text-transform: uppercase;
  }
}

@media all and (min-width: $display-large) {

  .call-to-action {
    border-bottom: 4px solid $wwu-blue;
  }

  .call-to-action-text h1 {
    font-size: 28px;
    width: 22em;
  }

}
