.calendar-calendar {

  th.days {
    background-color: $wwu-blue;
    color: #fff;
  }

  .month-view .full {

    tr.multi-day {
      height: auto;
      max-height: unset;

      td {
        height: auto;
        max-height: unset;
      }
    }
  }
}

.ical-icon {
  display: none;
}
