.counselor-title {
  border-bottom: 3px solid #e9e9e9;

  a:link,
  a:hover,
  a:visited {
    color: $wwu-blue;
    font-size: 24px;
    text-decoration: none;
  }
}

.counselor-type {
  color: $wwu-blue;
  font-size: 18px;
  line-height: 100%;
  padding: 20px 0;
}

.counselor-info {
  line-height: 100%;
  padding: 10px 10px 5px 0;
}

.counselor-location {
  background-image: url('../images/pin64X64.png');
  background-position-y: 50%;
  background-repeat: no-repeat;
  margin-left: -5px;
  padding-left: 40px;
}

.counselor-email {
  background-image: url('../images/mail32X32.png');
  background-position-y: 50%;
  background-repeat: no-repeat;
  padding-left: 35px;

}

.counselor-phone {
  background-image: url('../images/phone32X32.png');
  background-position-y: 50%;
  background-repeat: no-repeat;
  padding-left: 35px;
}

.counselor-background {
  tr,
  td {
    background-color: transparent;
    border-style: none;
  }
}

.counselor-image {
  padding-bottom: 30px;
  padding-right: 40px;
  padding-top: 60px;
}

@media all and (min-width: $display-medium) {

  .counselor-image {
    float: left;
    margin-bottom: 113px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-top: 0;
    width: 40%;
  }

  .counselor-title {
    float: left;
    width: 50%;
  }

  .counselor-info {
    float: left;
    width: 45%;

  }

  .counselor-type {
    float: left;
    width: 50%;
  }

  .counselor-background td {
    padding: 20px 20px 0 0;
  }

}
