.field-body {
  .deadlines {
    color: $black;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    text-align: left;

    > .row {
      border-bottom: 1px $wwu-light-blue solid;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      > .col1 {
        flex-basis: 55%;
        line-height: 1.2em;
      }

      > .col2 {
        line-height: 1.2em;
      }
    }

    h5 {
      color: $wwu-blue;
      font-weight: 600;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    > .acc-head {
      background-color: $background-color-gray;
      color: $black;
      font-weight: 600;
      margin: 0 0 10px;

      :active,
      :focus,
      :focus-within,
      :hover {
        background-color: $wwu-admissions-green;
        color: #ffffff;
        transition: all 300ms ease;
      }
    }

    .ready-accordion {
      background-color: transparent;
      margin-bottom: 10px;
      padding: 10px 0;
    }

    .ready-accordion-header.collapsed, .ready-accordion-header.expanded {
      margin:0
    }
  }
}
