.front {
  background-color: $background-color-gray;

  .page {
    max-width: 100%;
    width: 100%;
  }

  main {
    border: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    line-height: 1.5;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
    }
  }

  .center-content {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .large-number {
    color: $wwu-light-blue;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    transition: 500ms;

    >a {
      font-weight:inherit;
      text-decoration: none;
      transition: 500ms;
    }

    >a:hover,
    a:active,
    a:focus {
      color: #003F87;
      text-decoration: none;
      transition: 500ms;
    }
  }

  .no-mtop {
    margin-top: 0;
    font-size: calc((#{$min-h4-font-size} + #{strip-unit($max-h4-font-size - $min-h4-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1);
  }

  .quote-text {
    font-size: calc((#{20px} + #{strip-unit($max-p-font-size - 20px)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1);
    font-weight: 400;
    margin-left: 1em;
    margin-top: -35px;
    padding-left: 40px;
  }

  .quote-attribution {
    font-size: 1em;
    text-align: right;
  }

  .quote-italic {
    font-style: italic;
  }

  .blue-row {
    background-color: $wwu-light-blue;
  }

  .liteblue-small {
    color: $wwu-light-blue;
    font-size: 22px;
    font-weight: 400;
  }

  .darkblue-large {
    color: $wwu-blue;
    font-size: 30px;
    font-weight: 400;
  }

  .bluebar {
    display: block;
    width: 100%;
  }

  .header-row {
    padding-top: 20px;
  }

  .video-container {
    width: 100%;
    z-index: -1;
  }

  .video-fluid-wrapper {
    padding: 0;
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .frontpage-panel-wrapper {
    padding: 20px;
    position: relative;

    @include breakpoint($display-large){
      padding: 60px;
    }

    &:first-child {
      border: 0;
    }

    h2 {
      margin: 0;
      margin-bottom: 1em;
    }

    h2 span {
      line-height: 1em;
    }

    h2 span:first-child {
    font-size: calc((#{$min-h2-font-size} + #{strip-unit($max-h2-font-size - $min-h2-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
    font-weight: 600;
    letter-spacing: .02em;
    line-height:1.3em;
    }

    h2 span:last-child {
    font-size: calc((#{$min-h2-font-size} + #{strip-unit($max-h2-font-size - $min-h2-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
    font-weight: 600;
    letter-spacing: .02em;
    line-height:1.3em;
  }
}


  .panel-promote-wrapper {
    background-image: url("https://admissions.wwu.edu/files/Western-in-Fall.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
  }

  .panel-promote {
    background: linear-gradient(130deg, rgba(233, 137, 0, 0.7) 0%, rgba(229, 99, 0, 0.85) 32.6%, rgba(183, 20, 23, 0.7) 100%);
    color: $white;
    padding: 5px 20px;
    position: relative;
    margin: 0;
    z-index: 5;

    h2 {
      color: $white;
      font-size: calc((#{$min-h2-font-size} + #{strip-unit($max-h2-font-size - $min-h2-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1);
      font-weight: 800;
      letter-spacing: .02em;
      line-height: 1.2em;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }

    h3 {
      color: $white;
      font-size: calc((#{$min-h3-font-size} + #{strip-unit($max-h3-font-size - $min-h3-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
      font-weight: 700;
      margin-bottom: 20px;
    }

    p, li {
      color: $white;
      font-weight: 600;
      font-size: calc((#{$min-h4-font-size} + #{strip-unit($max-h4-font-size - $min-h4-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
      line-height: 1.35em;
      margin-bottom: 10px;
      text-align: left;
    }

    .link-button-wrapper {
      display: block;
      margin: 0 auto;
      padding: 10px 0 30px;
    }

    .link-button {
      border: 3px solid $white;
      border-radius: 100px;
      color: $white;
      display: block;
      font-size: calc((#{$min-h3-font-size} + #{strip-unit($max-h3-font-size - $min-h3-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
      font-weight: 700;
      margin: 0 auto;
      padding: 15px 30px;
      text-align:center;
      transition: 300ms;
      width: auto;

      &:hover,
      &:focus {
        background-color: $white;
        color: rgba(189, 52, 32, 1);
        transition: 300ms;
      }

      &:active {
        border: 3px solid rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, .8);
        color: rgba(189, 52, 32, 1);
        transition: 200ms;
      }
    }
  }

  .panel-attention-wrapper {
    background-color: $background-color-gray;
  }

  .panel-attention {
    .header-row {
      padding: 0;
    }

    h2 span:first-child {
      color: $wwu-blue;
      line-height:1.3em;
    }

    h2 span:last-child {
      color: $wwu-light-blue;
      line-height:1.3em;
    }
  }

  .panel-value-wrapper {
    background-color: $wwu-light-blue;
  }

  .panel-value {
    .column-wrapper {
      margin-top: 2em;
    }

    h2 span:first-child {
      color: $white;
      line-height:1.3em;
    }

    h2 span:last-child {
      color: #002550;
      line-height:1.3em;
    }

    p {
      color: $white;
      font-weight:600;
      font-size: calc((#{$min-h4-font-size} + #{strip-unit($max-h4-font-size - $min-h4-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
      text-align: center;
    }

    .citation {
      color: $white;
      font-size: 14px;
      font-style: italic;
      padding-top:1em;
      text-align: center;
    }

    .left-column,
    .center-column,
    .right-column {
      float: left;
      margin-bottom: 1em;
    }

    .img-responsive {
      display: block;
      margin: 0 auto;
      min-width: 64px;
      opacity: 1;
      transition: 500ms;
    }

    img:hover,
    img:active {
      opacity: .75;
      transition: 500ms;
    }

    .employer-row {
      @include zen-clear();
      padding-top: 20px;

      .shout-out {
        border-bottom: 1px solid $white;
        border-top: 1px solid $white;
        clear: both;
        color: $white;
        font-size: calc((#{$min-h4-font-size} + #{strip-unit($max-h4-font-size - $min-h4-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1);
        font-weight: 600;
        margin: 0 auto;
        max-width: 680px;
        padding: 15px 0;
        text-align: center;
      }

      ul.list-row{
        list-style: none;
        margin-top: 2em;
        padding: 0;
        text-align: center;

        li {
          color: $white;
          display: block;
          font-size: 1.5em;
          line-height: 1.5;
          padding: 0;
        }
      }
    }
  }

  .panel-location-wrapper {
    background-color: lighten($wwu-light-blue, 50%);
  }

  .panel-location {
    p {
      color: $wwu-blue;
      font-size: 18px;
      font-weight: 600;
    }

    h2 span:first-child {
      color: $wwu-light-blue;
      line-height:1.3em;
    }

    h2 span:last-child {
      color: $wwu-blue;
      line-height:1.3em;
    }

    .location-column-left {
      .img-responsive {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .panel-undergrads-wrapper {
    background-color: $wwu-blue;
    padding-bottom: 0;
  }

  .panel-undergrads {
    padding-bottom: 0;
    margin-bottom: 0;

    p {
      color: $white;
      font-size: calc((#{$min-h4-font-size} + #{strip-unit($max-h4-font-size - $min-h4-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
    }

    .quote-text {
      font-size: calc((#{20px} + #{strip-unit($max-p-font-size - 20px)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*1);
      font-weight: 600;
    }

    h2 span:first-child {
      color: $wwu-lime;
      line-height:1.3em;
    }

    h2 span:last-child {
      color: $white;
      line-height:1.3em;
    }

    .undergrad-column-right {
      line-height: 0;
    }
  }

  .panel-students-wrapper {
    background-color: $wwu-light-blue;
  }

  .panel-students {
    overflow: hidden;

    h2 span:first-child {
      color: $white;
    }

    h2 span:last-child {
      color: #002550;
    }

    p {
      color: $white;
      font-weight:600;
      font-size: calc(#{18px} + #{strip-unit($max-p-font-size - 18px)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    .slogan {
      border-bottom: solid 1px $white;
      border-top: solid 1px $white;
      font-size: 20px;
      text-align: center;

      p {
        margin-bottom: 0;
        padding: 10px;
      }
    }

    .left-column,
    .center-column,
    .right-column {
      float: left;
      margin-bottom: 1em;

      p {
        text-align: center;
      }
    }

    .img-responsive {
      display: block;
      margin: 0 auto;
      min-width: 64px;
      width: 20%;
    }

    .row2,
    .row3 {
      @include zen-clear();
    }

    .fulbright {
      background: url('../images/front-page/WreathLeft.png') no-repeat 0 50%, url('../images/front-page/WreathRight.png') no-repeat 100% 50%;
      font-size: 80%;
      margin: 0 auto;
      margin-top: 40px;
      min-height: 72px;
      padding: 25px 45px;
      text-align: center;

      p {
        margin-bottom: 0;
      }
    }
  }

  .panel-social-wrapper {
    background-color: $wwu-blue;

    .social-media-button-wrapper {
      $zen-column-count: 3 !global;
      $zen-gutter-width: 0 !global;

      @include zen-float(left);
      @include zen-grid-flow-item(1, 3, false, false);

      $zen-gutter-width: 10% !global;

      padding-bottom: 1em;
    }

    .social-media-button {
      @include hide-text;
      background-color: $wwu-blue;
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 100% 200%;
      border: 2px solid $wwu-blue;
      border-radius: 50%;
      box-sizing: border-box;
      display: block;
      height: 48px;
      margin: 0 auto;
      padding: 0;
      width: 48px;
      transition: border, 500ms;
    }

    .social-media-button:hover,
    .social-media-button:focus {
      border: 2px solid $wwu-lime;
      outline: 0;
      transition: border, 500ms;
    }

    .social-media-button.active {
      background-position: top left;
    }

    #facebook-feed-select {
      background-image: url('../images/front-page/facebook.png');
    }

    #twitter-feed-select {
      background-image: url('../images/front-page/twitter.png');
    }

    #instagram-feed-select {
      background-image: url('../images/front-page/instagram.png');
    }

    #slide-arrow {
      @include zen-clear(both);
      border-top: 1px solid $white;
      height: 40px;
      margin-bottom: 1em;
      position: relative;
    }


    h2 span:first-child {
      color: $wwu-lime;
      font-size: calc((#{$min-h2-font-size} + #{strip-unit($max-h2-font-size - $min-h2-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}))*.9);
      line-height:1.3em;
    }
  }

  .panel-get-started-wrapper {
    background-color: #002F5E;
  }

  .panel-get-started {
    margin: 0 auto;
    text-align: center;
    width: 100%;

    h2 span:first-child {
      color: $white;
      line-height:1.3em;
    }

    h2 span:last-child {
      color: $wwu-lime;
    }

    .panel-heading {
      font-size: 30px;
      font-weight: 600;
    }

    .header-text {
      clear: both;
      text-align: left;

      p {
        color: $white;
        font-size: 30px;
        font-weight: 400;
        margin-top: 0;
      }
    }

    .custom-buttons {
      display: block;
      width: 100%;
      background-color: transparent;
      color: $white;
      padding: .8em;
      margin-bottom: 1em;
      border: 3px solid $white;
      border-radius: 200px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 18px;
      transition: 500ms;
    }

    .custom-buttons:last-child {
      margin-bottom: 0;
    }

    .custom-buttons:hover,
    .custom-buttons:active,
    .custom-buttons a:hover,
    .custom-buttons a:active {
      background-color: $wwu-lime;
      border: 3px solid $wwu-lime;
      color: darken($wwu-blue, 10%);
      text-decoration: none;
      transition: 500ms;
    }

    .custom-buttons:focus,
    .custom-buttons a:focus {
      background-color: lighten($wwu-lime,20%);
      border: 3px solid lighten($wwu-lime,20%);
      color: darken($wwu-blue, 10%);
    }

    .top-row {
      margin-bottom: 1em;
    }
  }

  .panel-social {
    .row2 {
      hr {
        border: 0;
        border-bottom: 1px solid $white;
        margin: 0;
      }

      img {
        margin-top: -5px;
      }
    }
  }
}

@media all and (min-width: 500px) {

  .front {

    .panel-social-wrapper {

      .social-media-button {
        height: 96px;
        width: 96px;
      }
    }

    .panel-value,
    .panel-students {
      .left-column,
      .center-column,
      .right-column {
        float: left;
        margin-bottom: 2em;
      }

      .img-responsive {
        float: left;
        margin-right: 2em;
        width: auto;
      }

      .white-text-row,
      .citation {
        text-align: left;
      }
    }
  }

}

@media all and (min-width: 600px) {

  .front {

    .panel-value {
      .employer-row li {
        float: left;
        width: 25%;
      }
    }

    .panel-students {
      .fulbright {
        font-size: 100%;
        width: 65%;
      }
    }
  }

}

@media all and (min-width: 700px) {

  .front {

    .panel-get-started {
      width: 85%;

      .custom-buttons {
        width: 15em;
      }

      .top-row {
        float: left;
      }

      .bottom-row {
        float: right;
      }
    }

    .panel-students {
      .top-row {
        padding-bottom:1em;
      }
      .center-content {
        .left-column {
          @include zen-grid-item(1, 1);
          padding-left:0;
          padding-right:3%;
          text-align: center;
        }

        .center-column {
          @include zen-grid-item(1, 2);
          padding-left:0;
          padding-right:0;
          text-align: center;
        }

        .right-column {
          @include zen-grid-item(1, 3);
          padding-left:3%;
          padding-right:0;
          text-align: center;
        }
      }
    }

    #slide-arrow::before {
      background-image: url('../images/front-page/slider-focus.svg');
      background-position: 13.5% top;
      background-repeat: no-repeat;
      content: ' ';
      display: block;
      height: 40px;
      margin-top: -7px;
      position: absolute;
      transition: background-position .4s;
      width: 100%;
    }

    #slide-arrow.left-select::before {
      background-position: 13.5% top;
    }

    #slide-arrow.middle-select::before {
      background-position: 50% top;
    }

    #slide-arrow.right-select::before {
      background-position: 86.5% top;
    }
  }

}

@media all and (min-width: $display-large) {

  .front {

    .video-container {
      overflow: hidden;
    }

    .frontpage-panel-wrapper > div,
    .panel-promote-wrapper > div {
      margin: 0 auto;
      max-width: 1080px;
    }

    .frontpage-panel {
      width: 1080px;
      padding: 75px;
    }

    .panels-grid-wrapper {
      @include zen-grid-container;
      @include zen-grid-item(8, 3);

      $display-zen-grid-background: true !default;
    }

  .panel-promote-wrapper {
    background-position: center bottom;
  }

    .panel-promote {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      margin: 30px 0;
      padding: 10px 30px;
      width: 560px;

      h3 {
        margin-bottom: 20px;
      }

      .link-button {
        width: 50%;
      }
    }

    .panel-attention {
      .main-row {
        @include zen-grid-container;

        $zen-column-count: 2 !global;
        $zen-gutter-width: 10% !global;

        .left-column {
          @include zen-clear();
          @include zen-grid-item(1, 1);
          padding-left:0;
        }

        .right-column {
          @include zen-grid-item(1, 2);
          padding-right:0;
        }
      }
    }

    .panel-value {
      .column-wrapper {
        @include zen-grid-container;

        $zen-column-count: 3 !global;
        $zen-gutter-width: 10% !global;

        @include zen-clear();
      }

      .img-responsive {
        display: inline;
        float: none;
        margin: 0;
      }

      .white-text-row,
      .citation {
        text-align: center;
      }

      .left-column {
        @include zen-grid-item(1, 1);
        padding-left:0;
        padding-right:3%;
        text-align: center;
      }

      .center-column {
        @include zen-grid-item(1, 2);
        padding-left:0;
        padding-right:0;
        text-align: center;
      }

      .right-column {
        @include zen-grid-item(1, 3);
        padding-left:3%;
        padding-right:0;
        text-align: center;
      }
    }

    .panel-location {
      @include zen-grid-container;
      $zen-column-count: 3 !global;
      $zen-gutter-width: 0 !global;

      .location-column-left {
        @include zen-grid-item(1, 1);
        z-index: 20;

        .img-responsive {
          float: left;
        }
      }

      .location-column-right {
        @include zen-grid-item(2, 2);

        .img-responsive {
          float: right;
          z-index: 10;
        }
      }
    }

    .panel-undergrads {
      @include zen-grid-container;

      $zen-column-count: 2 !global;
      $zen-gutter-width: 0 !global;

      position: relative;

      p:last-child {
        padding-bottom:60px;
      }

      .undergrad-column-left {
        @include zen-grid-item(1, 1);
      }

      .undergrad-column-right {
        @include zen-grid-item(1, 2);
        bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        position: absolute;
      }
    }

    .panel-undergrads::before {
      content: ' ';
      display: block;
      float: right;
      min-height: 0;
      width: 50%;
    }

    .panel-students {
      @include zen-clear();

      .column-wrapper {
        @include zen-grid-container;

        $zen-column-count: 3 !global;
        $zen-gutter-width: 10% !global;

        @include zen-clear();
        margin-top: 2em;
      }

      .left-column,
      .center-column,
      .right-column {
        text-align: center;
      }

      .img-responsive {
        display: inline;
        float: none;
        margin: 0;
      }

      .left-column {
        @include zen-grid-item(1, 1);
      }

      .center-column {
        @include zen-grid-item(1, 2);
      }

      .right-column {
        @include zen-grid-item(1, 3);
      }
    }

    .panel-get-started {
      width: 35em;
    }

    .panel-social-wrapper .panel-social .center-column {
      @include zen-grid-item(1, 2);
    }
  }

}

@media all and (min-width: 975px) {

  .front {

    .panel-location  .location-column-left {
      $zen-column-count: 3 !global;
      $zen-gutter-width: 0 !global;

      @include zen-grid-item(2, 1);
    }
  }

}

@media all and (min-width: 1080px) {

  .front {

    .panel-get-started {
      width: 100%;

      .top-row,
      .bottom-row {
        border-collapse: separate;
        border-spacing: 1em 0;
        display: table;
        float: none;
        width: 100%;
      }

      .custom-buttons {
        display: table-cell;
        margin-right: 1em;
        width: 25%;
      }

      .custom-buttons:last-child {
        margin-right: 0;
      }
    }
  }

}
