#legend {
  @include breakpoint($display-large) {
    $zen-column-count: 12 !global;

    @include zen-grid-container();

    .legend-left-column {
      @include zen-grid-item(3, 1, left);
      float: left;
    }

    .legend-right-column {
      @include zen-grid-item(3, 3);
    }
  }
}
