/**
 * @file
 * The main menu that sits on top of each page
 */

@media all and (min-width: $display-large) {
  $main-menu-height: 64;
  $main-menu-border-width: 7;
  $main-menu-outside-height: $main-menu-height + $main-menu-border-width * 2;

  #main-menu {
    box-sizing: border-box;
    margin-top: $main-menu-outside-height / 2 * -1px;
    padding: 0;
    position: relative;
  }

  // Styles for the nav menu when it is fixed to the top of the viewport
  .region-navigation.fixed-menu-active {
    margin: 0 auto;
    max-width: 1080px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .main-nav {
    float: none;
    margin: 0 auto;
    max-width: 1080px;
    min-height: $main-menu-outside-height * 1px;
    z-index: 1;
  }

  .main-nav .menu-name-main-menu {
    background-color: $wwu-blue;
    border: $main-menu-border-width * 1px solid $white;
  }

  .main-nav .menu-name-main-menu .menu {
    position: relative;

    li {
      background-color: $wwu-light-blue;
      border: 0;
      border-right: $main-menu-border-width * 1px solid $white;
      height: 4em;
      margin: 0;
      max-width: 8em;
      overflow: hidden;
      padding: 0;
      vertical-align: middle;
      transition: 200ms ease-in-out;
    }

    li:hover,
    li:focus-within {
      background-color: $wwu-blue;
    }

    li:hover a,
    li:focus a {
      background: transparent;
      color: $white;
      transition: 200ms ease-in-out;
    }

    li a {
      background: transparent;
      color: $white;
      font-weight: 600;
      line-height: 1.25;
      padding: .75em .5em;
      text-decoration: none;
      word-wrap: normal;
      transition: 200ms ease-in-out;
    }

    li a:hover,
    li a:focus {
      background: transparent;
      color: $white;
      transition: 200ms ease-in-out;
    }

    li > a:focus {
      outline: unset;
      color: $wwu-lime;
      text-decoration: underline;
    }

    li ul {
      background-color: $wwu-blue;
      border: $main-menu-border-width * 1px solid $white;
      border-top: 0;
      height: 6.5em;
      left: $main-menu-border-width * -1px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 4em;
      width: 100%;
    }

    li li {
      background-color: $wwu-blue;
      border: 0;
      float: left;
      height: auto;
      max-width: none;
      width: 25%;
    }

    li li a {
      display: block;
      overflow: hidden;
      padding: 1em 0;
      text-transform: none;
      white-space: nowrap;
    }

    li li a:hover,
    li li a:focus {
      background-color: darken($wwu-blue, 5%);
      color: lighten($wwu-light-blue, 25%);
    }

    li.opened {
      background-color: $wwu-blue;
    }

    li.active-trail {
      background-color: $wwu-lime;
    }

    li.active-trail:hover,
    li.active-trail:focus {
      background-color: $wwu-lime;
    }

    li.active-trail a {
      background: transparent;
      color: $wwu-blue;
    }

    li.active-trail li a {
      color: $white;
    }

    li.active-trail li a:hover,
    li.active-trail li a:focus,
    li.active-trail .active a:hover,
    li.active-trail .active a:focus {
      color: lighten($wwu-light-blue, 25%);
    }

    li.active,
    li.active:hover,
    li.active:focus {
      background-color: $wwu-lime;
    }

    li.active > a:focus, li.active > a:hover {
      color: $wwu-blue;
    }

    li.active-trail .active {
      background: $wwu-blue;
    }

    li.active-trail .active a {
      background: transparent;
      color: $wwu-lime;
    }
  }
}
