.parallax-page {
  max-width: inherit;

  .parallax-title {
    text-align: center;
    width: 100%;

    #block-block-13 {
      padding: 6%;
      position: relative;

      h2,
      p {
        color: black;
        font-family: $muli;
        margin-top: 25px;
      }

      h2 {
        color: $wwu-blue;
        font-size: 20pt;
        text-transform: uppercase;
      }

      p {
        font-size: 9pt;
        width: 100%;
      }

      img {
        width: 0 !important;
        height: 0 !important;
      }
    }
  }

  .parallax-section-image {
    height: 0%;
    width: 100%;
  }

  .parallax-image-alernate img {
    height: auto;
    width: 100%;
  }

  .parallax-field-wrapper {
    background-color: $wwu-blue;
    min-height: 50;
    padding: 1%;
  }

  .parallax-list {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: inline-block;
      height: 100%;
      list-style: none;

      width: 100%;
      padding: 0;
      margin: 0;

      .cta {
        margin-top: 10;

        .parallax-icon-group {
          display: inline-block;
          margin-bottom: 15px;
          vertical-align: top;
          width: 30%;

          .cta-icon {
            padding: 0%;
            width: 65px;
          }
          .parallax-icon-text {
            color: white;
            font-size: 10pt;
            font-weight: bold;
            display: block;
            word-wrap: initial;
            line-height: normal;
          }
        }
      }
    }
  }

  .parallax-header, .cta {
    height: 100%;
    text-align: center;
    width: 100%;
  }

  .parallax-header {
    padding-top: 5%;

    h1 {
      color: white;
      font-family: $muli;
      font-size: 20pt;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .parallax-section-text {
    padding: 3% 20%;

    .parallax-description {
      color: black;
      font-family: $muli;
      font-size: 9pt;
    }
  }
}

@media all and (min-width: 700px) {

  .parallax-page {
    max-width: inherit;

    .parallax-title {
      text-align: right;
      width: 100%;

      #block-block-13 {
        margin: 0 auto;
        max-width: 1080;
        padding: 0;

        h2 {
          font-size: 40pt;
          left: 42%;
          position: absolute;
          top: 50;
        }

        p {
          font-size: 12pt;
          height: 100%;
          left: 42%;
          max-width: 550;
          position: absolute;
          -webkit-text-stroke: .2px;
          top: 200;
          width: 50%;
        }

        p:nth-last-child(2) {
          margin-top: 0;
          top: 400;
        }

        div:last-child {
          bottom: -527px;
          left: -100;
          padding: 0;
          position: absolute;

          img {
            width: 700 !important;
            height: auto !important;
          }
        }
      }
    }

    .parallax-banner {
      background-image: url('../images/bellingham_banner.jpg');
    }

    .parallax-banner,
    .parallax-section-image,
    .parallax-title {
      @include background-size(cover);
      background-repeat: no-repeat;
      display: block;
      height: 530;
      width: 100%;
    }

    .parallax-field-wrapper {
      min-height: 0;
      padding: 0%;
    }

    .parallax-image-alernate img {
      height: 0;
      width: 0;
    }

    .parallax-list {
      height: 0;

      li {
        .cta {
          display: block;
          margin-top: 35px;
          text-align: center;

          .parallax-icon-group {
            width: 185px;

            .cta-icon {
              display: inline-block;
              padding: 2%;
              width: 85px;
            }

            .parallax-icon-text {
              font-size: 17pt;
            }
          }
        }
      }
    }

    .parallax-section-image {
      background-attachment: fixed;
      background-position: 50% 50%;
      margin-top: -10;

      .parallax-header {
        padding: 0%;

        h1 {
          color: white;
          display: block;
          font-size: 45pt;
          font-weight: 700;
          line-height: 500;
          padding-right: 0%;
          text-align: center;
        }
      }
    }

    .parallax-section-text {
      padding: 20px 60px 70px;

      .parallax-description {
        font-size: 12pt;
        margin: 0 auto;
        margin-bottom: 40;
        max-width: 1080;
        -webkit-text-stroke: .2px;
      }

      .parallax-description:last-child {
        margin-bottom: 0;
      }
    }

    .parallax-section:last-child {
      margin-bottom: 0;
    }
  }

}

@media all and (min-width: 1000px) {

  .parallax-page {
    .parallax-title {
      #block-block-13 {
        h2 {
          top: 50;
        }

        p {
          top: 200;
        }

        p:nth-last-child(2) {
          top: 350;
        }

        div:last-child {
          left: 0;
        }
      }
    }

    .parallax-section-image {
      .parallax-header {
        h1 {
          font-size: 60pt;
        }
      }
    }
  }

}
