.quicktabs-tabs.quicktabs-style-nostyle {
  border-bottom: 2px solid $wwu-blue;
  padding: 0;

  li {
    display: inline-block;
    padding: 0;
  }

  a {
    background-color: #bfd1e3;
    border: 0;
    border-radius: 10px 10px 0 0;
    color: #5472a2;
    display: inline-block;
    line-height: 1;
    padding: .75em;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  li.active a {
    background-clip: padding-box;
    background-color: #1f4383;
    color: #fff;
  }
}
