.view-quick-facts-columns {
  .view-content .view-grouping {
    @include column-break(inside, avoid);
    background: #fff;
    display: inline-block;
    margin: 0 2px 15px;
    opacity: 1;

    .view-grouping-header {
      @include hide-text;
      border-bottom: 3px solid #e9e9e9;
      margin: 0;
      min-height: 125px;
    }

    .view-grouping-content h3 {
      color: $wwu-light-blue;
      font-size: 20px;
      margin: 10px;
    }
  }
}

.fact-container {
  list-style-type: none;
  padding: 0;
  padding-right: 10px;

  li {
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .field-numeric-stat {
    color: $wwu-blue;
    font-size: 24px;
  }

  .field-fact-text {
    font-size: 1.125em;
    line-height: 1.125em;
    padding: 4px 0;
  }
}

.category-academics {
  background-image: url('../images/academics.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.category-location {
  background-image: url('../images/location.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.category-enrollment {
  background-image: url('../images/enrollment.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.category-life {
  background-image: url('../images/student-life.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.category-degrees {
  background-image: url('../images/degrees.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.view-quick-facts-columns .view-content {
  @include column-count(1);
  @include column-width(90%);
  @include column-gap(10px);
  @include column-span(all);
}

@media all and (min-width: $display-small) {

  .view-quick-facts-columns .view-content {
    @include column-count(1);
    @include column-gap(10px);
    @include column-span(all);
  }

}

@media all and (min-width: $display-medium) {

  .view-quick-facts-columns .view-content {
    @include column-count(2);
    @include column-gap(10px);
    @include column-span(all);
  }

}

@media all and (min-width: $display-large) {

  .view-quick-facts-columns .view-content {
    @include column-count(3);
    @include column-gap(10px);
    @include column-span(all);
  }

}
