.social-media-feed-inner-wrapper {
  margin-top: 48px;
  min-height: 225px;

  .western-slider-control {
    @include hide-text;
    background-color: transparent;
    background-image: url('../images/front-page/slider-controls.png');
    background-repeat: no-repeat;
    border: 0;
    height: 48px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -68px;
    width: 48px;
    z-index: 1;
  }

  .western-slider-control-next {
    background-position: right top;
    right: 0;
  }

  .western-slider-control-next:hover,
  .western-slider-control-next:focus {
    background-position: right center;
  }

  .western-slider-control-next:disabled {
    background-position: right bottom;
  }

  .western-slider-control-prev {
    background-position: left top;
    left: 0;
  }

  .western-slider-control-prev:hover,
  .western-slider-control-prev:focus {
    background-position: left center;
  }

  .western-slider-control-prev:disabled {
    background-position: left bottom;
  }
}

.social-media-feed {

  .item {
    @include clearfix;
  }

  img {
    float: left;
    margin-right: 1em;
    width: 130px;
  }
}

.social-media-status-default {
  color: $white;
  font-size: 15px;
}

.social-media-status-default a,
.social-media-status a {
  color: lighten($wwu-lime, 10%);
  font-weight:700;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $wwu-admissions-dark-link-blue;
    text-decoration: none;
  }
}

.social-media-feed-time {
  color: $white;
  font-size: 16px;
}

.social-media-show {
  color: $wwu-lime;
  display: block;
  font-size: 15px;
  width: 100%;
}
