.node-stars {
  .field-label {
    margin:0;
    padding-top:20px;
  }
}

.star-background {
  margin-left: -27px;

  .stars-list li {
    display: block;
    float: left;
    font-size: 80%;
    height: 240px;
    list-style-type: none;
    margin: 3%;
    text-align: center;
    width: 115px;

    img {
      height: 72px;
      min-height: 72px;
      min-width: 115px;
      width: 115px;
    }
  }
}

@media all and (min-width: $display-medium) {

  .star-background {
    .stars-list li {
      font-size: 100%;
      margin: 5%;
      width: 140px;
    }

    // The image aspect ratio is roughly 1.6
    .stars-list li img {
      height: 88px;
      min-height: 88px;
      min-width: 140px;
      width: 140px;
    }
  }

}
