.node-personnel {
  .field-image {
    background-color: #f7f7f7;
    margin-bottom: 40px;
    z-index: 5;
  }

  .field-label {
    color: #003f87;
    font-size: 18px;
    margin:0;
    padding-top:20px;
  }

  .field-title .field-tr-territories ul.inline li  {
    display: block;
  }

  .field-title .field-tr-territories > ul:nth-child(n) {
    clear: right;
    list-style-type: disc;
  }

  span.field-label:nth-child(1) {
    clear: left;
  }


  .field-tr-territories > li:nth-child(n) {
    display: list-item;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .field-title {
    border-bottom: 3px solid #003f87;
    color: #003f87;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
