@media only screen and (max-width: $display-large) {

  .stack-table {

    // Force table to not be like tables anymore
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)
    thead tr {
      display: none;
      position: absolute;
    }

    tr {
      border: 1px solid #ccc;
    }

    // Behave like a "row"
    td {
      border: 0;
      border-bottom: 1px solid #eee;
      padding-left: 50%;
      position: relative;

      div {
        width: 114%;
      }
    }

    table {
      td,
      th {
        font-size: 12px;
      }
    }

    td:last-child {
      min-height: 3em;
    }

    .insertHeaderLabel {
      margin: 10px 0 0 5px;
      position: absolute;
      width: 47%;
    }

    caption {
      min-width: 200px;
      width: 100%;
    }
  }

}
