.student-profile {
  @include clearfix;
  padding: 30px 0;

  .field-photo {
    width: 100%;
  }

  .field-header {
    padding-bottom: 10px;
  }

  .field-full-name,
  .field-student-hometown {
    color: $wwu-blue;
    text-align: left;
  }

  .field-body {

    div:nth-child(2) {
      display: none;
    }

    div:nth-child(1) {
      display: block;

    }

    .field-student-bio,
    .diminutive-type .field-student-quote {
      font-size: 1.15em;
      line-height: 1.25em;
      text-align: left;
    }

    .diminutive-type .field-student-quote {
      font-weight: bold;
    }

  }

  .field-full-name{
    font-weight: bold;
    font-size: 1.5em;
  }

  .field-student-hometown {
    font-size: 1.15em;
    font-weight: normal;
  }
}

@media all and (min-width: $display-medium) {

  .student-profile {
    padding-top: 60px;

    .field-photo {
      float: right;
      width: 50%;
    }

    .field-wrapper {
      background-color: #fff;
      float: right;
      opacity: .8;
      padding: 10px;
      position: relative;
      text-align: right;
      z-index: 1;
    }

    .field-header {
      @extend .field-wrapper;
      margin-right: -60px;
      margin-top: 15px;
      padding: 10px;
    }

    .field-body {

      .field-student-bio,
      .diminutive-type .field-student-quote {
        @extend .field-wrapper;
        margin: 10px -120px 30px 0;
        width: 63%;
      }
    }
  }

}
