.western-header {
  @include breakpoint($display-large) {
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 6px solid $wwu-light-blue;
    box-sizing: content-box;
    float: none;
    height: 60px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  > .center-content {
    @include breakpoint($display-large) {
      height: 60px;
      overflow: visible;
      position: relative;
    }
  }

  .western-logo {
    display: block;

    @include breakpoint($display-large) {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: 10px;
      position: relative;
    }

    a {
      display: block;
      float: none;
      margin-bottom: 0;

      @include breakpoint($display-large) {
        background-color: $wwu-blue;
        background-repeat: no-repeat;
        background-image: url(/files/western_logo_hr.png);
        background-size: contain;
        display: block;
        margin: 0;
        padding: 0;
        position: static;
      }
    }
  }

  .site-name {
    display: none;

    @include breakpoint($display-medium) {
      clear: left;
      display: block;
    }

    @include breakpoint($display-large) {
      bottom: auto;
      clear: none;
      color: $wwu-blue;
      display: block;
      float: left;
      left: auto;
      min-height: 0;
      min-width: 0;
      padding: 0;
      position: static;
      right: auto;
      text-align: left;
      top: auto;
    }

    a {
      color: $white;
      text-align: left;
      vertical-align: middle;

      @include breakpoint($display-large) {
        color: $wwu-blue;
        font-size: 2vw;
        line-height: 60px;
      }

      @include breakpoint($max-content-width) {
        font-size: 150%;
      }
    }
  }

  nav {
    z-index: 9999;

    @include breakpoint($display-large) {
      bottom: 0;
      display: inline-block;
      left: auto;
      margin-right: 10px;
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }

  .western-quick-links,
  .western-search {
    @include breakpoint($display-large) {
      bottom: auto;
      display: inline-block;
      float: left;
      left: auto;
      position: static;
      right: auto;
      top: auto;
    }
  }

  .western-quick-links {

    li {
      @include breakpoint($display-large) {
        margin-right: 1em;
      }
    }

    a,
    a::before {
      @include breakpoint($display-large) {
        line-height: 60px;
      }
    }
  }

  .western-search {

    > button {
      @include breakpoint($display-large) {
        margin-top: 16px;
        top: unset;
      }
    }
  }

  .western-search-widget {
    @include breakpoint($display-large) {
      top: 100%;
    }
  }
}
