/**
 * @file WYSIWYG Tools Plus custom styles
 */

.acc-head {
  background: #eee;
  color: #555;
  display: block;
  margin: 0;
  text-decoration: none;
  width: 100%;
}

.acc-head:hover,
.acc-head:active,
.acc-head:focus {
  color: #333;
  text-decoration: none;
}

.acc-head .ready-accordion-header {
  background-position: .5em 50%;
  display: block;
  float: none;
  margin-bottom: 5px;
  padding: .5em 1em;
  padding-left: 22px;
  text-align: left;
}

.visit-pages .acc-head .ready-accordion-header {
  color: #003f87;
  font-family: $muli;
  font-size: 24px;
}

.ready-accordion-header.collapsed {
  background-color: transparent;
}

.ready-accordion-header.expanded {
  background-color: #e9e9e9;
}

.ready-accordion-header.expanded,
.ready-accordion-header.collapsed {
  float: none;
}

div.ready-accordion {
  background-color: #e9e9e9;
  float: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 10px;
  width: auto;
}
