@import 'zen';
@import 'compass';
@import 'breakpoint';

$box-sizing-polyfill-path: '/sites/all/themes/wwuzen/js/boxsizing.htc';

$zen-column-count: 12;
$zen-gutter-width: 30px;

@import 'modules/all';
