body {
  background: none;
}

.site-name {
  font-size: 100%;
  line-height: inherit;
  min-height: initial;
  text-align: left;
}

main {
  background: none;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.content p {
  margin-bottom: 1.5em;
}

.wwu-75-percent-right-column {
  @include breakpoint($display-large) {
    padding-left: 60px;
    padding-right: 60px;
  }
}
