$display-small: 320px;
$display-medium: 600px;
$display-large: 801px;

$max-content-width: 1080px;
$max-content-padding-width: 1200px;

$cta-image-buttons-medium: 700px;

$min-vw: 300px;
$max-vw: 1600px;
