$color-scheme-classes:
'paragraphs-item-color-scheme-dark-green',
'paragraphs-item-color-scheme-dark-blue',
'paragraphs-item-color-scheme-light',
'paragraphs-item-color-scheme-blue';

@mixin adjacent-color-schemes {
  @each $class in $color-scheme-classes {
    .#{$class} + [class*=paragraphs-item-color-scheme]:not(.#{$class}) {
      @content;
    }
  }
}
