$black: #222220;
$white: #fff;
$gray: rgba(151, 151, 151, 1);

$wwu-admissions-pale-blue: #cce6f7;
$wwu-admissions-green: #5da225;
$wwu-admissions-gray-blue: #406fa5;
$wwu-admissions-dark-link-blue: #52bcff;

$background-color-gray: #e6ebef;
$basic-gray: #f3f3f3;
$blockquote-blue: #c6dcee;

$brighter-dark-green: tint($wwu-green, 30%);

$bright-green: #06ff97;
$darker-bright-green: shade($bright-green, 20%);
