$min-h1-font-size: 32px;
$max-h1-font-size: 68px;

$min-h2-font-size: 28px;
$max-h2-font-size: 52px;

$min-h3-font-size: 24px;
$max-h3-font-size: 34px;

$min-h4-font-size: 18px;
$max-h4-font-size: 26px;

$min-p-font-size: 14px;
$max-p-font-size: 22px;

$min-cta-image-font-size: 14px;
$max-cta-image-font-size: 18px;
