@mixin rotate($deg, $transition-speed:0) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
  transition: $transition-speed;
}
