@mixin teardrop-image($offset) {
  border-radius: 50%;
  border-bottom-right-radius: 0;
  bottom: $offset * -1em;
  position: relative;
  right: $offset * -1em;
  z-index: -1;
}

@mixin teardrop-image-wrapper($offset) {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  display: block;
  line-height: 0;
  margin-bottom: $offset * 1em;
  margin-right: $offset * 1em;
}

@mixin teardrop-image-base() {
  position: relative;
  z-index: 0;
}
